<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/user/loginEventHandler.js"></script>
<title>Insert title here</title>
</head>
<body>
	
	<!-- loginBody -->
	<div class="col-md-4 col-md-offset-4">
		<h4>로그인</h4>
		
		<!-- login form -->
		<form role="loginform" method="post">
			<div class="form-group">
				<input type="text" class="form-control" name="id" id="id" placeholder="id"> 
				<input type="password" class="form-control" name="pw" placeholder="password">
			</div>
			
			<div class="checkbox">
				<label class="margin-top-0"> 
					<input type="checkbox" name="remember">&nbsp;로그인 기억하기
				</label>
			</div>
		</form>	

		<!-- login button -->
		<div class="form-group">
			<div class="form-group">
				<button type="button" class="form-control btn btn-primary" id="joinin">회원가입</button>
			</div>
			
			<div class="form-group">
				<button type="button" class="form-control btn btn-primary margin-top-0" id="login">로그인</button>
			</div>
			
			<div class="form-group">
				<button type="button" class="form-control btn btn-primary margin-top-0" id="FBlogin">페이스북으로 로그인</button>		
			</div>
		</div>

	</div>

</body>
</html>