<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all' rel='stylesheet' type='text/css'>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN THEME STYLES --> 
<script src="/resources/js/login/menuEventHandler.js" type="text/javascript"></script>
<!-- END THEME STYLES -->
<link rel="shortcut icon" href="/resources/theme/css/favicon.ico" type="image/x-icon"/> </head>
<!-- BEGIN: HEADER 시작-->
<header class="c-layout-header c-layout-header-4 c-layout-header-default-mobile" data-minimize-offset="80">
	<!-- BEGIN: INLINE NAV -->
	<div class="c-topbar c-topbar-light c-solid-bg">
   		<div class="container">
        	<!-- BEGIN: INLINE NAV -->
        	<nav class="c-top-menu c-pull-right">
            	<ul class="c-links c-theme-ul">
            		<li>
            			<a id="adminId">관리자님 안녕하세요!</a>
            		</li>
            		<li class="c-divider">|</li>
	                <li>
	                	<a id="logoutBtn" href="/">로그아웃</a>
	                </li>
	                <li class="c-divider">|</li>
                    </ul>
			</nav>
        <!-- END: INLINE NAV -->
		</div>
	</div>
    <div class="c-navbar">
    	<div class="container">
        	<!-- BEGIN: BRAND -->
            <div class="c-navbar-wrapper clearfix">
            	<div class="c-brand c-pull-left">
                	<a href="/admin" class="c-logo">
                    	<img src="/resources/img/logo.png" alt="BuyTogether" class="c-desktop-logo">
                        <img src="/resources/img/logo.png" alt="BuyTogether" class="c-desktop-logo-inverse">
                       	<img src="/resources/img/logo_mobile.png" alt="BuyTogether" class="c-mobile-logo">
                    </a>
                        <button class="c-hor-nav-toggler" type="button" data-target=".c-mega-menu">
                        	<span class="c-line"></span>
                            <span class="c-line"></span>
                            <span class="c-line"></span>
                        </button>
                        <button class="c-topbar-toggler" type="button">
                        	<i class="fa fa-ellipsis-v"></i>
                        </button>
               	</div>
			<!-- END: BRAND -->
           	<!-- BEGIN: QUICK SEARCH -->
            <form class="c-quick-search">
            	<input type="text" id="query" placeholder="같이사냥 내 검색" value="" class="form-control" autocomplete="off">
           		<span class="c-theme-link">&times;</span>
          	</form>
            <!-- END: QUICK SEARCH -->
            <!-- BEGIN: HOR NAV -->
            <!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
            <!-- BEGIN: MEGA MENU -->
            <nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
            	<ul class="nav navbar-nav c-theme-nav">
            		<li class="c-menu-type-classic">
	                    <a href="javascript:;" class="c-link dropdown-toggle">통계
	                    <span class="c-arrow c-toggler"></span>
	                    </a>
	                    <ul class="dropdown-menu c-menu-type-classic c-pull-left">
	                    	<li>
	                        	<a href="#">통계 목록</a>
	                        </li>                                      
	                   	</ul>
                   	</li>
                	<li class="c-menu-type-classic">
	                    <a href="javascript:;" class="c-link dropdown-toggle">같이사냥
	                    <span class="c-arrow c-toggler"></span>
	                    </a>
	                    <ul class="dropdown-menu c-menu-type-classic c-pull-left">
	                    	<li>
	                        	<a href="#">같이사냥 관리</a>
	                        </li> 
	                       	<li>
	                        	<a href="/indexer">키워드 색인</a>
	                        </li>
	                        <li>
	                        	<a href="#">역파일 목록</a>
	                        </li>                                          
	                   	</ul>
                   	</li>
                   	<li class="c-menu-type-classic">
	                    <a href="javascript:;" class="c-link dropdown-toggle">게시판관리
	                    <span class="c-arrow c-toggler"></span>
	                    </a>
	                    <ul class="dropdown-menu c-menu-type-classic c-pull-left">
	                    	<li>
	                        	<a href="#">정보사냥 관리</a>
	                        </li>
	                        <li>
	                        	<a href="#">공지사항 관리</a>
	                        </li> 
	                        <li>
	                        	<a href="#">FAQ 관리</a>
	                        </li> 
	                        <li>
	                        	<a href="#">QnA 관리</a>
	                        </li>                                        
	                   	</ul>
                   	</li>
                   	<li class="c-menu-type-classic">
	                    <a href="javascript:;" class="c-link dropdown-toggle">회원관리
	                    <span class="c-arrow c-toggler"></span>
	                    </a>
	                    <ul class="dropdown-menu c-menu-type-classic c-pull-left">
	                        <li>
	                        	<a href="#">회원 목록</a>	                     
	                        </li>
	                        <li>
	                        	<a href="#">신고 목록</a>
	                        </li>                                        
	                   	</ul>
                   	</li>
                   	<li class="c-menu-type-classic">
	                    <a href="javascript:;" class="c-link dropdown-toggle">관리자페이지
	                    <span class="c-arrow c-toggler"></span>
	                    </a>
	                    <ul class="dropdown-menu c-menu-type-classic c-pull-left">
	                    	<li>
	                        	<a href="#">관리자 목록</a>
	                        </li>                                       
	                   	</ul>
                   	</li>
                  	<!-- BEGIN: DESKTOP VERSION OF THE TAB MEGA MENU -->
                     <li class="c-search-toggler-wrapper">
                    	<a href="#" class="c-btn-icon c-search-toggler">
                        	<i class="fa fa-search"></i>
                        </a>
                    </li>
                    <li class="c-cart-toggler-wrapper">
                    	<a href="#" class="c-btn-icon c-cart-toggler">
                        	<i class="icon-user c-cart-icon"></i>
                       		<span class="c-cart-number c-theme-bg">2</span>
                        </a> 
                    </li>
				</ul>
			</nav>
            <!-- END: MEGA MENU -->
            <!-- END: LAYOUT/HEADERS/MEGA-MENU -->
            <!-- END: HOR NAV -->
			</div>
		</div>
    </div>

<!-- END: HEADER -->
<!-- END: HEADER 끝-->

</header>

