<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/resources/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/resources/bootstrap/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="/resources/theme/font/NotoKR-Regular.css"> <!-- 폰트 -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>  폰트 -->
<link rel="stylesheet" type="text/css" href="/resources/theme/css/components.css"> 
<link rel="stylesheet" type="text/css" href="/resources/theme/css/simple-line-icons.min.css">
<link rel="stylesheet" type="text/css" href="/resources/theme/css/default.css"> <!-- 글자색상 -->
<!-- <link rel="stylesheet" type="text/css" href="/resources/theme/css/theme.css">  -->
<title>Insert title here</title>
</head>
<body>
<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-5 -->
<footer class="c-layout-footer c-layout-footer-3 c-bg-dark-3">
	<div class="c-prefooter">
       	<div class="container">
	       	<div class="row">					
				<div class="col-md-2 col-sm-2">
					<img src="/resources/img/logo_white.png" alt="" class="img-responsive" />
				</div>
			</div>	
		<div class="c-container">
			<div class="col-md-9">								
				<div class="row">
					<ul class="c-links c-font-13">
						<li>                            
							<a href="#">이용약관</a>
								<span class="c-font-bold">  /  </span>
							    	<a href="#">Privacy Policy</a>
						</li>
					</ul>
				</div>
				<div class="row">
			    	<p class="c-font-13 c-font-white">대표 : 이민규  |  개발자들 : 조병찬, 남건우, 노희원, 배지은, 김성윤, 김수연, 한소희   |  개인정보보호책임자 : 배지은
			                    				|  주소 : 서울특별시 금천구 가산디지털1로 149 신한 이노플렉스 2층  |  문의전화 : 010-2974-4314 | 이메일문의 : slsrmsn@naver.com | 												
												MON - FRI  AM 10:00 ~ PM 05:00  |  LUNCH PM 12:30 ~ PM 01:30 SAT - SUNDAY / HOLIDAY OFF
					</p>
	            </div> 
			</div>	 
		</div>
	    <div class="col-md-3 c-container c-last">
	       	<div class="col-md-offset-1">	                    
	        	<div class="c-content-title-1">
		        	<h3 class="c-font-uppercase c-font-bold c-font-white">ABOUT
		            	<span class="c-theme-font c-font-bold">US</span>
		            </h3>
	            </div>         
				<ul class="c-works">
			    	<li class="c-first">
			        	<a href="#">
			            	<img src="/resources/img/012.jpg" class="img-responsive" alt="" />
			            </a>
			        </li>
			        <li>
			            <a href="#">
			                <img src="/resources/img/51.jpg" class="img-responsive" alt="" />
			            </a>
			        </li>
		            <li class="c-last">
		                <a href="#">
		                	<img src="/resources/img/61.jpg" class="img-responsive" alt="" />
		                </a>
		            </li>
				</ul>
				</div>		                    
			</div>
		</div>     
	</div>
    <div class="c-postfooter">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-6 col-sm-12 c-col">
                	<p class="c-copyright c-font-grey">2016 &copy; 같이사냥
                    	<span class="c-font-grey-3">All Rights Reserved.</span>
                    </p>
                </div>
			</div>
		</div>
	</div>          
</footer>
<!-- END: LAYOUT/FOOTERS/FOOTER--->
</body>
</html>