<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.buy.together.mapper.joinMapper">

   <!-- 신규회원 가입 -->
   <insert id="create">
      insert into user (id, pw, name, nickname, birthdate, gender, email, phone_number)
      values(#{id}, #{pw}, #{name}, #{nickname}, #{birthdate}, #{gender}, #{email}, #{phone_number})
   </insert>
   
   <!-- 유저 아이디 검색 -->
   <select id="selectUserId"  resultType="String">
      select id from user where id = #{id}
   </select>
   
   <!-- 관리자 아이디 검색 -->
   <select id="selectAdminId" resultType="String">
      select admin_id from admin where admin_id = #{id}
   </select>
   
   <!-- 유저 닉네임 검색 -->
   <select id="selectUserNickname"  resultType="String">
      select nickname from user where nickname = #{nickname}
   </select>
   
   <!-- 관리자 닉네임 검색 -->
   <select id="selectAdminNickname"  resultType="String">
      select admin_nickname from admin where admin_nickname = #{nickname}
   </select>
   
   <!-- 유저 이메일 검색 -->
   <select id="selectUserEmail"  resultType="String">
      select email from user where email = #{email} 
   </select>
   
   <!-- 관리자 이메일 검색 -->
   <select id="selectAdminEmail"  resultType="String">
      select admin_email from admin where admin_email = #{email} 
   </select>

</mapper>