<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.buy.together.mappers.searchMapper">
	<!-- 같이사냥 검색 -->
	<select id="search" resultType="com.buy.together.dto.BuyTogetherDTO">
		<![CDATA[select bt.title
		from buytogether bt
		WHERE bt.title like CONCAT('%', #{keyword}, '%')
		]]>
	</select>
	
</mapper>