.imagecontour {
 padding: 10px; 
 border: solid 1px #EFEFEF;
 background-color: #FFFFFF;
 }
 
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.effect2:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/* 하트 버튼 효과 */

.heart {
   background: url(/resources/img/web_heart_animation.png);
   background-position: right;
   background-repeat: no-repeat;
   height: 75.199999px;
   width: 75.199999px;
   cursor: pointer;
   position: absolute;
   left:0px;
   background-size:2180px; /* actual background size 2900px */
}
.heart:hover
{
 /* displaying last heart frame */
}
@-webkit-keyframes heartBlast 
{
   0% {background-position: left;}
   100% {background-position: right;}
}

@keyframes heartBlast 
{
   0% {background-position: left;}
   100% {background-position: right;}
}

.heartAnimation 
{
   -webkit-animation-name: heartBlast; /* webkit broswers */
   animation-name: heartBlast;
   -webkit-animation-duration: .8s;
   animation-duration: .8s;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
   -webkit-animation-timing-function: steps(28); /* background frames count 28 */
   animation-timing-function: steps(28);
   background-position: right;
}