<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

	<!-- 부라우저 최신 버젼 적용 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 해상도 자동 맞춤, 반응형 웹 페이지 적용 부분 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 웹 브라우저에서 다양한 언어 사용 가능 -->
	<meta charset="UTF-8">
	
	<!-- Bootstrap 적용 부분 -->
	<link href="../resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- jQuery 부분 -->
	<script src="../resources/bootstrap/js/jquery-3.1.1.min.js"></script>
	<!-- Bootstrap에서 사용하는 자바스크립트 부분 -->
	<script src="../resources/bootstrap/js/bootstrap.min.js"></script>
	
<title>Insert title here</title>
</head>
<body>
	<p>위치: views/buyTogether/buyTogether.html</p>
	<div class="container">
		<div class="row">
			<div class="col-sm-offset-2 col-sm-8">
			 <p>사이즈 2 8 2</p>
			</div>
		</div>
	</div>
</body>
</html>